{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer js-editor-wrapper" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

      <div class="text-center navbar-sidenav-logo">
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </div>

      <div class="editor-menu">
        <hr>
                <p>Üdv, <b>{{ app.user.username }}</b></p>

            <ul>
                <li><a href="{{ path('user_dashboard') }}"><i class="fa fa-user" aria-hidden="true"></i></a></li>

                <li><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>

        <hr>
      </div>

        {% for category in categories %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-id="{{ category.id }}" data-toggle="collapse" href="#{{ category.name }}" data-parent="#exampleAccordion">
            <i class="fa fa-cog"></i>
            <span class="nav-link-text">{{ category.name }}</span>
          </a>
          <ul class="sidenav-second-level collapse" id="{{ category.name }}">
            {% for attributeCategory in category.attributeCategory %}
                <li>
                  <a>{{ attributeCategory.name }}</a>
                </li>
                <ul class="sidenav-third-level">
                    <li>
                    {% for attribute in attributeCategory.attributes %}
                        <a data-id="{{ attribute.id }}" class="nav-link">{{ attribute.name }}</a>
                    {% endfor %}
                    </li>
                </ul>
            {% endfor %}
          </ul>

        </li>

        {% endfor %}
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!--- content -->

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->

      <div>
        <div class="position-absolute js-cmd">
            <div class="btn btn-success js-save-conf"><i class="fa fa-save"></i></div>
            <div class="btn btn-danger js-clear-conf-parts"><i class="fa fa-trash"></i></div>
        </div>


      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
        Eddig beszerelt alkatrészek
        </li>

      </ol>


      </div>


      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row js-current-parts">
                {% if current_parts %}
                    {% for part in current_parts %}
                        <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    {% for pic in part.pics %}
                                        <img src="{{ asset('img/Part/' ~ pic.name) }}" width="100" alt="">
                                    {% endfor %}
                                    </div>
                                <div class="mr-5">{{ part.name }}</div>
                                </div>
                            <div class="card-footer clearfix small z-1 data" data-id="{{ part.id }}">
                                <span class="float-left"><a href="#" class="js-show-part">Részletek</a></span>
                                <span class="float-right">
                                    <a href="#" class="js-delete-part text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
      </div>


      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          Alkatrészek
        </li>
      </ol>

      <div class="row js-parts">
        {% for part in parts %}
            <div class="col-xs-12 col-md-12 col-lg-12">
                <table class="table table-borderless table-hover w-100">
                    <tbody>
                        <tr>
                            <td class="part-pic" style="width: 10%">
                                {% for pic in part.pics %}
                                    <img src="{{ asset('img/Part/' ~ pic.name) }}" width="50" height="50" alt="">
                                {% endfor %}
                            </td>
                            <td class="part-info">
                                <span class="part-name">{{ part.name }}</span>
                                <hr>
                                {% for attribute in part.attributes %}
                                    {% if loop.index < 5 %}
                                       <span class="attr">{{ attribute.attributeCategory.name }}: {{ attribute.name }}, </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-success" data-id="{{ part.id }}" style="width: 10%">
                                <div class="btn btn-success js-add-part"><i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
      </div>
      <!-- Example DataTables Card-->
    </div>
    <!-- /.container-fluid-->
  </div>
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    {% include 'user/logout_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}