//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap/scss/bootstrap";
@import "~startbootstrap-sb-admin/scss/sb-admin";


@media (min-width: 992px) {

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level li a {
    padding-left: 10px;
    display: block;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level li a:hover {
    color:#6c757d;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level li a {
    padding: 5px 5px 5px 20px;
    cursor: pointer;
    font-size: 12px;


  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level li a:hover {
    color:#3ba3cd;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level li
  {
    background: #212529 !important;

  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level {

  }


}

.navbar-sidenav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.part-info {
}

.part-info hr {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.part-info .part-name {
  font-size: 15px;
}

.part-info .part-attributes {
  font-size: 12px;
  line-height: 0;
}

.part-attributes {
  font-size: 12px;
  text-align: left;
}

.btn {
  cursor: pointer;
}

.swal-button--confirm {
  background: #18BC9C;

}

.content-wrapper {
  padding: 10px;
}

.js-conf-part-img img{
  width: 100px;
}

.table-borderless td, .table-borderless tr {
  border: none;
}

ul {
  list-style: none;
}

.nav-item {
  border-bottom: 1px solid #292e33;
}

.part-info span {
  font-size: 12px;
}

.js-save-conf, .js-clear-conf-parts {
  margin-top: 5px;
}

.js-cmd {
  margin-top: 3px;
  right: 3%;
  font-size: 10px;
}

.js-cmd .btn {
  padding: 3px 8px 3px 8px;
}

.js-cmd i {

}

body {
  height: 100% !important;
}

body.fixed-nav {
  padding-top: 0px;
}

.navbar-nav.navbar-sidenav {
  margin-top: 0px !important;
  padding-top: 25px;

}

.navbar-sidenav-logo {
  margin-bottom: 0px;
}

.navbar-sidenav-logo i {
  font-size: 50px;
  color:#6c757d;
}

#mainNav.fixed-top .navbar-sidenav {
  height: calc(100vh - 50px);
}

/** LOGIN PAGE **/
.sign-up {
  background: #FFF;
  max-width: 500px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-signin {
  padding: 20px;
  margin: 0 auto;
}

.form-signin .btn-block {

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}


/** END LOGIN PAGE **/

/** EDITOR MENU **/

.editor-menu {
  color: #6c757d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 130px;
}

.editor-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  //border: 1px solid #e7e7e7;
}

.editor-menu li {
  display: inline;
}

.editor-menu li a {
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.editor-menu li a i {
  font-size: 25px;
  color: #6c757d;

}
.editor-menu .fa:hover {
  color: #adb5bc;
  cursor: pointer;
}
/** EDITOR MENU END **/

.adminNav .navbar-sidenav .nav-link-collapse:after {
  color: #FFF !important;
}


/** HOMEPAGE **/

.bg-homepage {
  background: #ebebeb;
}

.homepage-content {
  background: #f4f4f4;
  margin-top: 0px !important;
}

.homepage {
  position: relative;top:100px;
  background: none;
}

.homepage, .homepage .card-footer, .homepage .card-header {
  border: 0px;
}

.homepage .card-header {
  background: none;
}

.homepage .card-footer {
  background: none;
}

.homepage .editor-link {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
  background: #676767;
  color: #FFF;


  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.homepage .editor-link:hover {
  background: #3ba3cd;
  color:#FFF;
  cursor: pointer;

  -webkit-box-shadow: -2px 3px 17px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 3px 17px -5px rgba(0,0,0,0.75);
  box-shadow: -2px 3px 17px -5px rgba(0,0,0,0.75);

}

.homepage .editor-link i {
  position: relative;
  font-size: 80px;
  margin-top: 35px;
}

.homepage .editor-link a {
  color: #FFF;
}

.homepage .fa-plus {

}

.homepage .fa-television {
  font-size: 80px;
}


/** END HOMEPAGE **/
