<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}" />

        {% endblock %}
    </head>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/plugins.js') }}"></script>
        {% endblock %}
    </body>
</html>
