{% extends 'base.html.twig' %}


{% block body %}
    <body class="fixed-nav sticky-footer bg-homepage" id="page-top">

    <div class="container-fluid homepage-content">
        <div class="container">

            <div class="card text-center homepage">
                <div class="card-header">
                    <img src="{{ asset('img/logo.png') }}" alt="">
                </div>
                <div class="card-body">
                    <p>
                        Építsd meg álmaid számítógépét! A lehetőségek határtalanok.
                        Manapság a számítógép alapvető otthoni kellék. Miért bíznánk életünk egyik
                        legfontosabb részét számunkra ismeretlen "szakértőkre"? Nem kell komoly tudás a buildIT
                        felületének köszönhetően, hogy kézben tartsuk elektronikai eszközünket és mind e mellett hatalmas
                        összegeket is spórolhatunk ami már csak hab a tortán. Érdekel hogyan? kattints a fogaskerékre és megkezdődhet
                        a kivitelezés!
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <div class="editor-link">
                        <a href="{{ path('editor_homepage') }}"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></a>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}