{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer bg-dark p-5 js-editor-wrapper" id="page-top">
    <div class="container">
        <div class="sign-up">
            {% if error %}
                <div class="alert alert-danger">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}

            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            <h2 class="form-signin-heading"><i class="fa fa-cog" aria-hidden="true"></i> Lépj be és építs!</h2>
            <p>
                Ahhoz, hogy elkezdhesd megépíteni álmaid számítógépét kötelező regisztrálnod és bejelentkezned.
                Miért jó ez neked? Ingyenesen bármennyi konfigurációt elkészíthetsz és azokat felhaszálói profilodon
                bármikor megtekintheted és karban tarthatod. Mind e mellett számos új lehetőséget biztosít.
            </p>


            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="username">Felhasználónév:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Jelszó:</label>
                    <input type="password" id="password" class="form-control" name="_password" />
                </div>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button class="btn btn-success" type="submit">Belépés <i class="fa fa-lock"></i></button>
                Nincs még felhasználód? <a href="{{ path('user_register') }}">Regisztrálj</a>
            </form>


        </div>


    </div> <!-- /container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}