{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer bg-dark p-5 js-editor-wrapper" id="page-top">
    <div class="container">

        <div class="sign-up">
                <h2 class="form-signin-heading"><i class="fa fa-cog" aria-hidden="true"></i> Regisztrálj és építs!</h2>
                <p>
                    Ahhoz, hogy elkezdhesd megépíteni álmaid számítógépét kötelező regisztrálnod és bejelentkezned.
                    Miért jó ez neked? Ingyenesen bármennyi konfigurációt elkészíthetsz és azokat felhaszálói profilodon
                    bármikor megtekintheted és karban tarthatod. Mind e mellett számos új lehetőséget biztosít.
                </p>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.username, {"label": "Felhasználónév"}) }}
                    {{ form_row(form.password.first, {"label": "Jelszó"}) }}
                    {{ form_row(form.password.second, {"label": "Jelszó újra"}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.roles, {"label": "Jogosultságok"}) }}

                <button class="btn btn-lg btn-success btn-block" name="submit" type="submit" formnovalidate>Regisztrálok!</button>
                {{ form_end(form) }}
        </div>


    </div> <!-- /container -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}