{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer js-editor-wrapper" id="page-top">
{% include 'admin/menu.html.twig' %}

  <!--- content -->

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <!-- Area Chart Example-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-cog"></i> Legfrissebb buildek</div>
      <div class="card-body">
        <div class="row">
          {% for config in last_configs %}
            <div class="col-md-3">
              {{ config.name }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <div class="row">

      <div class="col-lg-8">
        <!-- Example Bar Chart Card-->
        <!-- Card Columns Example Social Feed-->
        <div class="mb-0 mt-4">
          <i class="fa fa-newspaper-o"></i> Újdonságok</div>
        <hr class="mt-2">
        <div class="card-columns">
          <!-- Example Social Card-->
          <div class="card mb-3">

            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">Mark Gangel</a></h6>
              <p class="card-text small">Új alkatrészek kerültek feltöltésre! Ne habozzatok kipróbálni őket egy
                komplett gépben!
                <a href="#">#Parts</a>
                <a href="#">#New</a>
                <a href="#">#Building</a>
              </p>
            </div>
            <div class="card-footer small text-muted">Közzétéve 2 perce</div>
          </div>

          <!-- Example Social Card-->
          <div class="card mb-3">
            <h1 class="text-center mt-3">
              <i class="fa fa-cogs"></i>

            </h1>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">Mark Gangel</a></h6>
              <p class="card-text small">Az oldal hivatalosan is elindult!
                <a href="#">#buildIT</a>
                <a href="#">#PC</a>
                <a href="#">#Openning</a>
              </p>
            </div>
            <div class="card-footer small text-muted">Közzétette 1 órája</div>
          </div>
          <!-- Example Social Card-->
          <!-- Example Social Card-->
          <!-- Example Social Card-->
          <div class="card mb-3">
            <h1 class="text-center mt-3">
              <i class="fa fa-users"></i>

            </h1>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">Mark Gangel</a></h6>
              <p class="card-text small">Kövessétek Facebook oldalunkat is!
                <a href="#">#Social media</a>
                <a href="#">#Facebook</a>
                <a href="#">#Like</a>
              </p>
            </div>
            <div class="card-footer small text-muted">Közzétéve 30 perce</div>
          </div>
          <!-- Example Social Card-->

        </div>
        <!-- /Card Columns-->
      </div>
      <div class="col-lg-4">
        <!-- Example Pie Chart Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</div>
          <div class="card-body">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcreatools%2F&tabs&width=250&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="250" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
        </div>
        <!-- Example Notifications Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Kifutó alkatrészek</div>
          <div class="list-group list-group-flush small">
            {% for part in expiring_parts %}
              <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <div class="media-body">
                    {{ part.name }}
                    <div class="text-muted smaller">Kifutás ideje: {{ part.expiresAt | date('Y-m-d') }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}

          </div>
          <div class="card-footer small text-muted">Frissítve 2 napja</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Your Website 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  {% include "user/logout_modal.html.twig" %}

</div>
{% endblock %}