<nav class="navbar navbar-expand-lg navbar-dark fixed-top adminNav" id="mainNav">
    <a class="navbar-brand" href="index.html"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <div class="text-center navbar-sidenav-logo">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>

            <div class="editor-menu">
                <hr>
                <p>Üdv, <b>{{ app.user.username }}</b></p>

                <ul>
                    <li><a href="{{ path('editor_homepage') }}"><i class="fa fa-wrench" aria-hidden="true"></i></a></li>
                    <li><a data-toggle="modal" data-target="#exampleModal" href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </ul>

                <hr>
            </div>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">

                <a href="{{ path('user_dashboard') }}" class="nav-link">
                    <i class="fa fa-cog"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>

                <a class="nav-link" href="{{ path('profile') }}">
                    <i class="fa fa-cog"></i>
                    <span class="nav-link-text">Profil</span>
                </a>

                <a class="nav-link" href="{{ path('user_config') }}">
                    <i class="fa fa-cog"></i>
                    <span class="nav-link-text">Konfigurációk</span>
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link nav-link-collapse collapsed bg-success text-white" data-toggle="collapse" data-target="#admin" data-parent="#exampleAccordion">
                        <i class="fa fa-cog"></i>
                        <span class="nav-link-text">Admin</span>
                    </a>

                    <ul class="sidenav-second-level collapse" id="admin" >
                        <li class="nav-link-text" data-toggle="collapse"  data-target="#part-new"><a>Alkatrészek</a></li>

                        <ul class="sidenav-third-level collapse" id="part-new">
                            <li><a href="{{ path('part_new') }}">Új</a></li>
                            <li><a href="{{ path('part_list') }}">összes</a></li>
                        </ul>

                        <li class="nav-link-text" data-toggle="collapse"  data-target="#user-menu"><a>Felhasználók</a></li>

                        <ul class="sidenav-third-level collapse" id="user-menu">
                            <li><a href="{{ path('user_register') }}">Új</a></li>
                            <li><a href="{{ path('user_list') }}">összes</a></li>
                        </ul>

                    </ul>
                {% endif %}
            </li>
        </ul>

        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>

{% include 'user/logout_modal.html.twig' %}
