{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer js-editor-wrapper" id="page-top">

{% include 'admin/menu.html.twig' %}
<!--- content -->

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <div>

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    Alkatrészek listája
                </li>

            </ol>
        </div>

        <!-- Icon Cards-->
        <div class="row js-parts">
            <div class="col-xs-12 col-md-12 col-lg-12">
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% for part in parts %}
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <table class="table table-borderless table-hover w-100">
                            <tbody>
                            <tr>
                                <td class="part-pic" style="width: 10%">
                                    {% for pic in part.pics %}
                                        <img src="{{ asset('img/Part/' ~ pic.name) }}" width="50" height="50" alt="">
                                    {% endfor %}
                                </td>
                                <td class="part-info">
                                    <span class="part-name">{{ part.name }}</span>
                                    <hr>
                                    {% for attribute in part.attributes %}
                                        {% if loop.index < 5 %}
                                            <span class="attr">{{ attribute.attributeCategory.name }}: {{ attribute.name }}, </span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="text-success" data-id="{{ part.id }}" style="width: 10%">
                                    <a href="{{ path('part_remove', {id: part.id}) }}"><div class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> </div></a>
                                    <a href="{{ path('part_show', {id: part.id}) }}"><div class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></div></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Example DataTables Card-->
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2018</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
