{% extends 'base.html.twig' %}


{% block body %}
<body class="fixed-nav sticky-footer js-editor-wrapper" id="page-top">

  {% include 'admin/menu.html.twig' %}
  <!--- content -->

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->

      <div>

      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
        Új alkatrész hozzáadás
        </li>

      </ol>
      </div>

      <!-- Icon Cards-->
      <div class="row js-parts">
        <div class="col-xs-12 col-md-12 col-lg-12">
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <button class="btn btn-success" type="submit">Hozzáadás</button>
            {{ form_end(form) }}
        </div>
      </div>
      <!-- Example DataTables Card-->
    </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
